* {
  text-align: center;
  background: #fafafa;
  font-family: "Roboto", sans-serif;
}

section {
  margin: 30px auto;
  justify-content: center;
  padding-bottom: 44px;
  font-family: "Roboto", sans-serif;

  padding-bottom: 44px;
  width: 100%;
}

.only-tablet-desktop-view {
  display: none;
}

.login-page h1 {
  margin: 25px;
}

.login-main {
  justify-content: center;
  margin: 30px auto;
  max-width: 350px;
  width: 100%;
}

.login-page {
  border: 1px solid rgba(218, 188, 188, 0.5);
  text-align: center;
}

.form-container input {
  width: 72%;
  border: 1px solid;
  border-radius: 6px;
  background: #fafafa;
  padding: 9px 0 7px 8px;
  margin: 4px;
}

.form-container button {
  width: 74%;
  border: 1px solid;
  border-radius: 6px;
  background: #fafafa;
  margin: 10px 40px;
  background: #3797f0;
  opacity: 0.5;
  padding: 9px 0 7px 8px;
}
a {
  text-decoration: none;
  font-size: 12px;
}

.facebook-login a {
  text-decoration: none;
  font-size: 12px;
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
}

.facebook-login div {
  margin: 15px;
}

.facebook-login {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
}
.facebook-login a {
  margin-top: 3px;
  font-size: 14px;
}
.facebook-login img {
  width: 24px;
}
.facebook-login div {
  margin: 15px;
}
.forgot-password {
  padding: 10px;
}

.register-container {
  border: 1px solid rgba(218, 188, 188, 0.5);
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
}

.register-container a {
  font-weight: 600;
  font-size: 14px;
  margin: 10px;
}

.register-container p {
  margin: 10px;
}

.mobile-download-container {
  display: flex;
  justify-content: center;
}

.mobile-download-container a img {
  width: 134px;
}

.goto-appstore {
  margin: 10px;
}
/* 
@media only screen and (min-width: 876px) {
  body {
    background: #fafafa;
  }

  .only-tablet-desktop-view {
    display: block;
  }

  .only-tablet-desktop-view img {
    width: 85%;
    margin: 83px 0px;
  }

  section {
    display: flex;
  }

  .login-main {
    margin: 79px 52px;
    justify-content: center;
    padding-bottom: 44px;
  }
} */
